/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */

/**
	Stephens - Portfolio Template 
	Author : TavillaThemes
	Copyright 2016

/* Table of Content
==================================================
	
	1. Body and Core Css
	2. Home Section
	3. About Section
	4. Portfolio Section
	5. Contact Section
	6. Responsive
	7. Slider & Video Home


/*------------------------ 1 Body and Core Css ------------------------*/		

body{
	font-family: 'Montserrat', sans-serif;
}

html{
	height: 100%;
}

p{
    font-size: 13px;
    color: #777777;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
 }


nav{
    position: fixed; 
    background: #fff;
    z-index: 9;
    width: 100%;
    padding: 30px;
    display: none;
    -webkit-box-shadow: -5px 10px 12px -10px rgba(201,201,201,0.67);
    -moz-box-shadow: -5px 10px 12px -10px rgba(201,201,201,0.67);
    box-shadow: -5px 10px 12px -10px rgba(201,201,201,0.67);
}

.nav-menu{
    float: right;
    line-height: 32px;
}

nav ul li{
    float: left;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

nav ul li a{
    color: #000;
}

nav ul li a:hover{
    color: #afafaf!important;
}

.logo{
    float: left;
}

 .responsive{
    display: none;
    font-size: 23px;
}
    
.active{
    color:#afafaf;
}


footer{
    background: #1f1f1f;
    padding: 90px 0;
    margin-top:90px;
    text-align: center;
}

footer p{
    line-height: 20px;
    margin-top: 20px;
}

.site-button:focus{
    outline: 0;
}

.nav-menu li a:focus{
    color: #1f1f1f;
} 

.ok{
    background: green !important;
    border: solid 2px green !important;
    color: white;
} 

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.form-inp.reqError, .contact-form textarea.reqError {
    border-color: #f00;
}

.content{
    margin-top: 60px;
}

.subpage-nav{
    display:block !important; 
    position: relative;
}

.page-title{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   z-index: 2;
   position: relative;
}

.page-title h1{
   font-size: 75px;
   color: #fff;
   font-weight: bold;
   letter-spacing: -3px;
   margin-bottom: 20px;
}



/*preloader */

#preloader {
    background-color:#1f1f1f;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%; 
    z-index: 100;
    display:table;
    text-align: center;
}

.spinner {
    margin:auto;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
} 

@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-ms-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-o-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
.uil-ripple-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.uil-ripple-css div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  border-width: 12px;
  border-style: solid;
  -ms-animation: uil-ripple 2s ease-out infinite;
  -moz-animation: uil-ripple 2s ease-out infinite;
  -webkit-animation: uil-ripple 2s ease-out infinite;
  -o-animation: uil-ripple 2s ease-out infinite;
  animation: uil-ripple 2s ease-out infinite;
}
.uil-ripple-css div:nth-of-type(1) {
  border-color: #fff;
}
.uil-ripple-css div:nth-of-type(2) {
  border-color: #fff;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}


/*------------------------ 2 Home ------------------------*/		

.home{
    background:url(../images/home.jpg) bottom center;
    width: 100%;
    display: table;
}

.home-content{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   z-index: 2;
   position: relative;
}

.home-content h1{
   font-size: 75px;
   color: #fff;
   font-weight: bold;
   letter-spacing: -3px;
   margin-bottom: 20px;
}

.home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.social{
    height: 30px;
}



.social a{
    color: #fff;
    font-size: 15px;
    margin:0 15px;
    transition: all ease 0.3s;
}


.social a:hover{
    transition: all ease 0.3s;
    opacity: 0.5;
}


.home-down {
    color: #fff;
    font-size: 40px;
    padding-top: 40px;
    padding-left: 20px;
    display: inline-block;
    transition: all 0.3s ease;
}


.home-down:hover{
    color: #fff;
	transition:all 0.3s ease;
}

.home-down:focus{
    color: #fff;
}

/* arrow css3 animation */

@-webkit-keyframes bounce {
	 0%, 100% {-webkit-transform: translateY(0);} 
	 50% {-webkit-transform: translateY(-20px);}
}
 
@-moz-keyframes bounce {
	 0%, 100% {-moz-transform: translateY(0);}
	 50% {-moz-transform: translateY(-20px);}
}
 
@-o-keyframes bounce {
	 0%, 100% {-o-transform: translateY(0);}
	 50% {-o-transform: translateY(-20px);}
}

@keyframes bounce {
	 0%, 100% {transform: translateY(0);}
	 50% {transform: translateY(-20px);}
}
 
 .bounce {
	 -webkit-border-radius:50%;
	 -moz-border-radius:50%;
	 -ms-border-radius:50%;
	 border-radius:50%;
	 animation: bounce 2s infinite;
	 -webkit-animation: bounce 2s infinite;
	 -moz-animation: bounce 2s infinite;
	 -o-animation: bounce 2s infinite;
}




/*------------------------ 3 About ------------------------*/	

.about{
    padding-top:90px;
 }   

.about-image img{
    width: 100%;
 }   


.about h2{
    font-size: 23px;
    line-height: 30px;
 } 

.about-text{
    display: table;
    height: 407px;
 } 

.out{
    display: table-cell;
   vertical-align: middle;

 } 



.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.gray-bg{
    margin-top: 90px;
    background: #f6f6f6; 
}

.what-can{
    padding: 90px 0;
}

.what-can .feature{
    text-align: center;
    margin-bottom: 30px;
}

.what-can .feature i{
    font-size: 40px;
}

.what-can .feature h3{
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 11px;
}

.what-can .feature p{
    line-height: 20px;
}



/*------------------------ 4 Portfolio ------------------------*/	


.section-title{
    text-align: center;
    padding: 90px 0 60px 0;
}

.section-title h2{
    font-size: 23px;
    font-weight: bold;
}

.section-title p{
    line-height: 20px;
}

.portfolio_filter{
    text-align: center;
    padding-top: 15px;
}

.portfolio_filter ul{
    margin: auto;
    display: inline-block;
}

.portfolio_filter ul li{
    font-size: 14px;
    color: #777777;
    font-family: 'Poppins', sans-serif;
    float: left;
    margin-right: 15px;
    list-style: none;
    cursor: pointer;
}

.single_item {
    position: relative;
    margin-bottom: 30px;
}

.single_item img{
    width: 100%;
    transition: all ease 0.3s;
}

.single_item .details{
    opacity: 0;
    display: flex;
    position: absolute;
    left: 15px;
    top: 0;
    right: 15px;
    bottom: 0;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    -webkit-animation: fadeOut 200ms ease-in;
    -moz-animation: fadeOut 200ms ease-in;
    -o-animation: fadeOut 200ms ease-in;
    animation: fadeOut 200ms ease-in;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.single_item:hover .details{
    opacity: 1;
    -webkit-animation: fadeIn 200ms ease-in;
    -moz-animation: fadeIn 200ms ease-in;
    -o-animation: fadeIn 200ms ease-in;
    animation: fadeIn 200ms ease-in;
}

.single_item .details .name{
    font-size: 20px;
    font-weight: bold;
}

.single_item .details .info{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.single_item img:hover {
  background: #ffffff;
  transition: all ease 0.3s;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

.select-cat{
    color:#1f1f1f !important;
}



/*------------------------ 5 Blog ------------------------*/

.blog-image img{
    width: 100%;
}

.blog-content{
    margin-bottom:60px;
}

.blog h1{
    font-size: 20px;
    line-height: 24px;
    margin: 25px 0 13px 0;
    color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
}

.blog-info{
    font-size: 12px;
    font-weight:400;
    color: #b9b9b9;
}

.blog .site-button{
    margin:0 auto 60px;
    display: table;
}

.blog-single h1 {
     font-size: 22px;
    line-height: 24px;
    margin: 25px 0 12px 0;
    color: #1f1f1f;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.blog-single .blog-detail{
    font-size: 13px;
    color: #b9b9b9;
    margin-bottom: 30px;
}

.blog-single .blog-detail span{
    color: #1f1f1f;
}

.blog-single blockquote {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #1f1f1f;
    border-left: 4px solid #1f1f1f;
    padding-left: 20px;
    margin: 40px 0;
}

.blog-single ul.list-style {
    padding: 30px;
    line-height: 24px;
}

.blog-single ul.list-style li {
    font-size: 14px;
    list-style: circle;
}

.lightbox-image img{
    width: 100%;
    padding-bottom: 30px;
}

.blog-single .post-lightbox{
    padding: 30px 0 0;
 }

.subtitle {
     font-size: 22px;
    line-height: 24px;
    margin: 25px 0 30px 0;
    color: #1f1f1f;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.post-comment {
    float: left;
}

ul.post-comment li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #efefef;
    padding: 15px 0;
    list-style: none;
}

ul.post-comment li img {
    width: 15%;
    float: left;
}

ul.post-comment li .comment-info {
    float: left;
    width: 85%;
    padding-left: 15px;
        margin-top: 15px;
}


ul.post-comment li h3 {
    float: left;
    font-size: 14px;
}

ul.post-comment li a {
    float: right;
    font-size: 11px;
    font-weight: bold;
    color: #1f1f1f;
}

ul.post-comment li span {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #c5c5c5;
    margin-top: 3px;
}

ul.post-comment li p {
    font-size: 12px;
    line-height: 20px;
    float: left;
    margin-top: 6px;
}

.send-message{
    margin-top:60px !important;
}

.send-message .subtitle{
    margin-bottom:30px;
}



/*------------------------ 5 Contact ------------------------*/


.contact-info{
    text-align: center;
}

.contact-info i{
    width: 60px;
    height: 60px;
    text-align: center;
    background: #1f1f1f;
    border-radius: 50px;
    color: #fff;
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 15px;
}

.contact-info p{
    line-height: 20px;
}

.section-title p{
    margin-top:20px;
}

.form-inp {
    width: 100%;
    height: 45px;
    border: 0;
    color: #1f1f1f;
    border-bottom: solid 1px #dfdfdf;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact-form textarea {
       width: 100%;
    border: 0;
    border-bottom: solid 1px #dfdfdf;
    font-size: 13px;
    padding: 20px 0 0 10px;
    height: 119px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact-form{
    margin-top: 90px;
}

.contact-form .site-button{
    margin: auto;
    margin-top: 30px;
    display: block;
}



.site-button{
    padding: 13px 50px;
    font-size: 12px;
    background: none;
    border: 2px solid;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    transition: all ease 0.3s;
}

a.site-button{
    border: 2px solid #1f1f1f;
    color: #1f1f1f;
}

.site-button:hover{
    background: #1f1f1f;
    color: #fff;
    transition: all ease 0.3s;
}




/*------------------------ 6 Responsive ------------------------*/


/*max Width 992px */

@media screen and (max-width: 991px) {

    .home-content h1{
        font-size: 50px;
    } 
    
     .what-can .feature{
        padding: 0 30px;
    }
    
    
}


/*max Width 768px */

@media screen and (max-width: 767px) {

    .home-content h1{
        font-size: 32px;
        margin-bottom: 10px;
    }
    
    .contact-info{
        margin-bottom: 30px;
        padding: 0 50px;
    }
   
    .social a{
        margin: 0 10px;
        font-size: 12px;
    }
    
    nav{
        padding:30px 15px;
    }
    
    .nav-menu{
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    
    .nav-menu li{
        float: none; 
        width: 100%;
        text-align: center;
        height: 45px;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
    }
   
    .responsive{
        float: right;
        display: block;
    }
    
    .about {
    padding-top: 60px;
    }
    
    .about h2 {
        margin-top: 30px;
    }
    
    .gray-bg {
        margin-top: 30px;
    }
    
    .what-can {
        padding: 45px 0;
    }
    
    .section-title {
        padding: 60px 0 45px 0;
    }
    
    .portfolio_filter ul{
        margin-top: 15px;
    }
    
    .portfolio_filter ul li{
        height: 30px;
    }
    
}


/*min Width 768px */
@media screen and (min-width: 768px) {
    
 .nav-menu{
        display: block!important;
    }
    
}


/*------------------------ 7 Slider & Video Home ------------------------*/


.home-slider{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.slider{
    background: none !important;
}

.home-video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
















